<% content_for :head do %>
  <title>Wallpapers House - Editar Background</title>
<% end %>

<% content_for :content do %>
<%= form_for :background, url: background_path, method: :PUT do |f| %>
    <div class="form-group">
      <label for="productName" class="col-12 col-form-label">Nombre</label>
      <div class="col-12">
        <%= f.text_field :title, class:'form-control'%>
      </div>
    </div>
<% end %>
<% end %>