<% content_for :head do %>
  <title>Wallpapers House - <%=@category.name%></title>
<% end %>

<% content_for :content do %>

    <article class="article col-lg-10 col-12">
      <section class="destacados">
        <div class="container-fluid p-lg-3 p-0">
          <h2>Fondos de <%=@category.name%></h2>
          <div class="row rellenarCategorias mx-0"></div>
          <div id="pagination" class="row justify-content-center my-4"></div>
        </div>
      </section>
    </article>

<% end %>

<% content_for :pageScripts do %>
  <script>
    var category_backgrounds = '<%= @backgrounds.to_json.html_safe %>';
    updateImagesCategories(category_backgrounds);
  </script>
<% end %>